
       
    <nav class="navbar navbar-light bg-lignt" id="topmenu">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
            <span class="navbar-toggler-icon" ></span>
        </button>
        <div class="navbar-collapse collapse" id="collapsingNavbar2">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
        </div>
    </nav>
<div id="totalcontainer">
    <div class="card" id="loggedcard">
        <div class="card-body" id="cardUser">
         
         <div id="userCentered">
          <div id="myImg"><img id="userImg" src="/images/cara.jpg">
          </div>
          <div id="myDescription">
            <div id="userName"><h1 id="myName">Sandra Lerma</h1><p>Me encanta el mundo de la decoración</p></div>
          <div id="configIcons"> 
              <img id="confingIcon" src="/images/myProfile.png">
              <img id="confingIcon" src="/images/config.png">

          </div>
        </div>
        </div>
        </div>     

   </div>
    </div>
<!-- Photo Grid -->
<section>
  <h2>Upload your photo</h2>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="text" name="name">
    <input type="file" name="photo">
    <input type="text" name="_id" value="{{this.user._id}}">
    <input type="submit" value="Save">
  </form>
</section>

  {{#each pictures}}
    <img id="{{ this._id }}"  class="prueba" src="{{ this.path }}" alt="{{ this.originalName }}" />
  {{/each}}

<div class="grid"></div>

</div>    
 